
body{
    background-color:  rgb(0, 128, 128);
}

h1{
    text-shadow: 4px 4px 6px rgba(255, 255, 255, 0.55); 
    font-family:'Times New Roman', Times, serif;
    font-style: oblique; 
}

.wrapper{
    width:83vw;
    
    margin-top: 1.5rem;

    background-color: rgb(172, 215, 201);

    border: 1px solid rgb(191, 191, 191);
    border-radius: 25px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

#begin{
    display:flex;
    
    justify-content: center;
    align-items: center;

 
}

p{
    font-size: 1.5rem;
    padding-bottom: 2rem;
    margin-top: 1.5rem;
}

.correct{
    color:green;
}
.incorrect{
    color:red;
    background: #ffc0cb;
    outline: 1px solid rgb(82, 27, 27);
    border-radius: 4px;
}

.active{
    color: #17a2b8;

}

.span{
position: relative;
}
.active::before{
    content: "";
    position: absolute;
    left: 0;
    bottom:0;
    height: 2px;
    width: 100%;
    opacity: 0;
    background: #17a2b8;
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink{
    50%{
        opacity:1;
    }
}

.input{
    z-index: -999;
    opacity: 0;
    position: absolute;
}

#try{
    background: lightseagreen ;
    border: 1px solid white;
    width: 80%;
    padding: 8px;
    font-size: 1rem;
    color: white;
    border-radius: 12px;
}

#result{
    margin-top: 1rem;
}